<mat-card class="recipe-card clickable-card" [routerLink]="['/recipes', recipe().id]">
  <mat-card-header>
    <mat-card-title class="title">{{ recipe().name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="description">{{ recipe().description }}</p>
  </mat-card-content>

  <mat-card-actions class="recipe-footer">
    <div class="footer-left">
      <mat-icon>schedule</mat-icon>
      <span>{{ recipe().durationInMinutes | duration }}</span>
    </div>

    <div class="footer-right">
      {{ recipe().creator }}
    </div>
  </mat-card-actions>
</mat-card>
