<div class="list-container">
  @if (isLoading()) {
    <div class="status-msg" aria-live="polite">Loading recipes...</div>
  } @else if (recipes().length === 0) {
    <div class="empty-state">
      <mat-icon>restaurant_menu</mat-icon>
      <p>No recipes found that match your selection.</p>
    </div>
  } @else {
    <div class="list-header">
      <div class="pagination-bar">
        <div class="pagination-actions">
          <button
            mat-stroked-button
            [disabled]="isPrevDisabled()"
            (click)="onPrevPage()">
            Previous
          </button>

          <span class="page-info">Page {{ displayPage() }} of {{ displayTotalPages() }}</span>

          <button
            mat-stroked-button
            [disabled]="isNextDisabled()"
            (click)="onNextPage()">
            Next
          </button>
        </div>
      </div>

      <div class="sort-group">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="compact-dropdown">
          <mat-select
            [value]="sortBy()"
            (selectionChange)="onSortFieldChange($event.value)"
            panelClass="primary-text-panel">

          @for (option of sortingOptions(); track option) {
              <mat-option [value]="option">{{ enumHelper.formatEnum(option) }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <button
          mat-icon-button
          color="primary"
          type="button"
          (click)="onToggleDirection()"
          class="compact-icon-btn"
          title="Toggle Sort Direction">
          <mat-icon>{{ sortDirection() === 'ASCENDING' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
        </button>
      </div>
    </div>

    <ul class="grid">
      @for (recipe of recipes(); track recipe.id) {
        <li>
          <app-recipe-card [recipe]="recipe" />
        </li>
      }
    </ul>
  }
</div>
